main {
	max-width: 550px;
}

.help-intro {
	line-height: 1.5;
	margin: 24px auto 0 auto;
	width: 100%;
	text-align: left;
}

code {
	font-size: 16px;
}

.grid-container {
	align-items: baseline;
	display: grid;
	font-size: 14px;
	font-weight: 200;
	grid-template-columns: 40% 60%;
	grid-template-rows: 1fr;
	
}

.grid-item {
	margin: 0;
	text-align: left;
}

.desktop-two-columns {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr;
}

.help-title {
	font-weight: 700;
}

.search-header {
	font-style: italic;
	text-decoration: underline;
}

footer {
	margin-top: 24px;
}

@media screen and (max-width: 400px) {
	.desktop-two-columns {
		grid-template-columns: 100%;
	}

	.underneath {
		
	}
}