main div {
	margin: 0;
}

.scryfall-search > h2 {
	margin-top: 8px;
}

div.help-intro {
	margin-top: 24px;
}

.scryfall-search,
.help-intro {
	line-height: 1.5;
	margin: 0 auto 0 auto;
	max-width: 550px;
	width: 100%;
	text-align: left;
}

code {
	font-size: 16px;
}

.grid-container {
	align-items: baseline;
	display: grid;
	font-size: 14px;
	font-weight: 200;
	grid-template-columns: 40% 60%;
	grid-template-rows: 1fr;
	margin-top: 24px;
	font-size: 14px;
}

.grid-item > code {
	font-size: 14px;
}

.grid-headers {
	margin-top: 16px;
}

.help-title {
	font-weight: 400;
	margin: 12px 0 6px 0;
}

.search-header {
	font-style: italic;
	margin-bottom: 12px;
	text-decoration: underline;
}   

.first-item {
	margin-top: 12px;
}

footer {
	margin-top: 48px;
}