:root {
	--primary-color: #eb9f24;
	--secondary-color: rgb(134, 8, 8);
	--white: #efe5e3;
	--black: #301d04;
}

html {
	background-color: var(--white);
	height: 100vh;
	scroll-behavior: smooth;
}

body {
	color: var(--black);
	font-family: 'Sofia Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 16px;
	height: 100%;	
	margin: 0;
	text-align: center; 
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

header {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: var(--primary-color);
	padding: 12px;
	position: relative;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(-10%, var(--secondary-color)), color-stop(var(--primary-color)) , color-stop(110%, var(--secondary-color)));
	background-image: linear-gradient(to right, var(--secondary-color) -10%, var(--primary-color) , var(--secondary-color) 110%);
	background-size: 100% 100%;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 10vh;
	position: relative;
	z-index: 20;
}

h1 {
	font-size: 24px;
	font-style: italic;
	font-weight: 700;
}

h2 {
	font-size: 20px;
	margin: 24px auto 12px auto;
}

h1,
h2 {
	text-align: center;
}

.coin {
	font-style: normal;
}

#nav {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	left: 24px;
	position: absolute;
	width: 48px;
}

.fa-bars {
	font-size: 24px;
}

.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	left: 0;
	position: absolute;
	top: calc(0px - 10vh - 301px);
	-webkit-transition: top	0.5s;
	transition: top	0.5s;
	width: 100vw;
}

.menu.active {
	top: 10vh;
}

.menu-item {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border: 1px solid #301d04;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: var(--primary-color);
	font-size: 24px;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	height: 100px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 15ch;
}

.large-list-in-menu {
	font-weight: 700;
}

a.menu-link:hover {
	opacity: 1;
}

.menu-item:hover {
	background-color: var(--secondary-color);
	color: #fff;
}

a:link,
a:active,
a:visited {
	color: var(--black);
	font-weight: 700;
}

a:hover {
	opacity: 0.6;
}

.menu-link,
.menu-link a,
.menu-link a:link,
.menu-link a:active,
.menu-link a:visited {
	color: var(--black);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-decoration: none;
}

.current {
	background-color: #cd721c;
}

main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 0 24px 0 24px;
	min-height: 70vh;
	text-align: center;
}

.inputs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 24px auto 0 auto;
	max-width: 550px;
}

.desktop-search-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 16px;
	margin: 0;
}

.search-section {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 4px 0;
}

#show-list-from-nav,
label,
button {
	cursor: pointer;
}

.list-control-button,
#list-button,
#search-button,
#clear-button {
	-webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.clicked-button {
	-webkit-box-shadow: none;
	        box-shadow: none;
	cursor: wait;
}

#commander-id,
#search-term {
	border: 1.5px solid var(--black);
	background-color: #fff;
	border-radius: 4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	font-family: inherit;
	height: 32px;
	margin-bottom: 6px;
}

.cmd-id,
#commander-id {
	margin: 0;
}

#search-term {
	font-size: 16px;
}

button#search-button,
#search-term {
	height: 40px;
}

#search-term:focus { 
    outline: none;
    border-color: var(--secondary-color);
}

input[type=text] {
	font-family: inherit;
	padding-left: 12px;
}

.list-control-button,
#clear-button,
#list-button,
#search-button {
	background-color: var(--primary-color);
	border-radius: 4px;
	border-style: none;
	color: var(--black);
	font-family: inherit;
	font-weight: 700;
	height: 32px;
	margin: 0 0 6px 6px;
	padding: 8px;
	width: 80px;
}

.list-control-button:hover,
.fa-chevron-up a:hover,
#clear-button:hover,
#list-button:hover,
#search-button:hover {
	opacity: 80%;
}

.button-section {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

#clear-button {
	background-color: var(--secondary-color);
	color: #fff;
	margin: 12px 0 6px 0;
}

#list-button {
	background-color: var(--primary-color);
	margin: 12px 0 6px 0;
}

#the-list-container {
	background-color: var(--secondary-color);
	border: 3px solid #fff;
	border-radius: 8px;
	display: none;
	height: 40vh;
	position: fixed;
	left: 16px;
	top: 16px;
	-webkit-transition: all 0.5;
	transition: all 0.5;
	width: 20vw;
	z-index: 20;
}

#the-list {
	height: calc(100% - 110px);
	width: 80%;
}

#the-list-container.active {
	display: block;
}

#the-list-container.fullscreen {
	display: block;
	height: 60vh;
	width: 40vw;
}

.list-control {
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	position: absolute;
	width: 100%;
}

.list-control-button {
	margin: 0 8px;
	width: 8ch;
}

.list-clear-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
}

#list-control-clear {
	background-color: var(--white);
	width: 10ch;
}

button#list-control-clear:hover {
	background-color: #fff;
	opacity: 1;
}

#visible-list,
textarea {
	background-color: var(--secondary-color);
	border: 0;
	color: var(--white);
	font-family: 'Sofia Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 12px;
	line-height: 1.3;
	margin: 8px;
}

.search-title {
	font-weight: 700;
	margin-right: 12px;
}

input[type="radio"],
input[type="checkbox"],
.card-name-copy,
img.hidden {
	display: none;
}

label.active {
	-webkit-text-decoration: underline;
	text-decoration: underline;
	-webkit-text-decoration-style: double;
	text-decoration-style: double;
	-webkit-text-decoration-color: var(--primary-color);
	text-decoration-color: var(--primary-color);
}

label.no-checkbox {
	border-radius: 11px;
	font-size: 16px;
	padding-bottom: 1px;
	text-decoration: none;
}

.marked-color {
	margin: 0 12px 0 0;
}

.marked-color > label.no-checkbox {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-color: var(--white);
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 2.5ch;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-right: 12px;
	width: 2.5ch;
}

.marked-color > label.no-checkbox.active {
	border-color: var(--primary-color);
}

.marked-color > label.no-checkbox {
	margin: 0 auto;
}

select#commander-id {
	border: 1px solid var(--black);
}

.box-and-label {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 32px;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	margin: 0;
}

.box-and-label label {
	margin-right: 12px;
}

.sort-and-clear,
.types-container,
.colors-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
}

.sort-and-clear {
	margin-top: 12px;
}

.sort-setting {
	margin: 0 6px 0 12px;
}

main div {
	margin: 8px auto;
}

#results {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	font-weight: 700;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 32px 0 0 0;
}

.search-results {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.image,
.card-image > img {
	border-radius: 15px;
	-webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	cursor: pointer;
	height: 400px;
	margin: 0 6px 0 6px;
}

.turn-card-over {
	background-color: inherit;
	border: none;
	cursor: pointer;
	font-size: 16px;
	margin-left: 12px;
}

.turn-card-over:hover {
	opacity: 0.6;
}

.card-image {
	font-weight: 700;
}

.price-usd {
	font-weight: 700;
	margin-right: 12px;
}

.copy-to-list,
.copy-card-name {
	cursor: pointer;
	display: inline-block;
	width: 9ch;
}

.clipboard-emoji {
	display: inline-block;
	width: 2ch;
}

#back-to-top a,
#back-to-top a:visited,
#back-to-top {
	color: var(--secondary-color);
	font-size: 36px;
	left: calc(100vw - 24px);
	position: fixed;
	text-decoration: none;
	top: 94%;
}

.fa-chevron-up {
	font-size: 16px;
}

.copyright {
	text-align: center;
}

footer {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: var(--secondary-color);
	color: var(--white);
	font-weight: 200;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 20vh;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 12px;
}

@media screen and (max-width: 620px) {
	.menu {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.menu-item {
		width: 100vw;
	}
	
	.inputs {
		max-width: 280px;
	}

	.search-section {
		margin: 4px 0 0 0;
	}

	#search-term {
		width: calc(100% - 20vw - 6px);
	}

	#search-button {
		margin-right: 0;
		width: 14vw;
	}

	.desktop-search-row {
		gap: 0;
	}

	#the-list-container.active {
		height: 30vh;
		width: 40vw;
	}

	.active > #the-list {
		width: 80%;
	}

	#the-list-container.fullscreen {
		height: 80vh;
		top: 10vh;
		width: 90vw;
	}

	.fullscreen > #the-list {
		height: 80%;
		width: 80%;
	}

	#back-to-top a,
	#back-to-top a:visited,
	#back-to-top {
		left: 93%;
		top: 92%;
	}
}